@media (max-width:524px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 15px;
    }
    .main{
        width: 100%;
        position: relative;
        z-index: 10;
    }
    .images{
        display: none;
    }
    .left-side{
        background-color: #000;
        opacity: 0.6;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        text-align: center;
        flex-flow: column;
        padding: 10px 20px;
        color: #fff;
    }
    .left-side .logo{
        text-transform: uppercase;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        margin-top: 50px;
        border: 1px solid #fff;
        padding: 20px 8px;
    }
    .left-side .navbar{
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .left-side .navbar a{
        
        display: block;
        font-size: 18px;
        color: #fff;
        margin: 2rem 0;
        text-decoration: none;
    }
    .left-side .navbar a:hover{
        letter-spacing: 3px;
    }
    
    .left-side .follow a{
        font-size: 25px;
        color: #fff;
        margin: 0 .7rem;
        text-decoration: none;
        margin-bottom: 30px;
    }
    .right-side{
        width: 100%;
        height: auto;
    }
    .right-side .box{
        padding: 30px;
        background-color: #fff;
        opacity: 0.7;
    }
    .right-side .box p{
        text-align: justify;
    }
    
    .content{
        width: 100%;
        position: relative;
        z-index: 10;
    }
    .two{
        background-color: #fff;
        width: 100%;
    }
    
    .sec-1,.sec-2{
        padding: 30px;
    }
    .sec-1 i, .sec-2 i{
        font-size: 100px;
        font-weight: bolder;
        color: rgb(12, 97, 72);
        margin-bottom: 30px;
    }
    .box h3, .sec-1 h2, .sec-2 h2, .desc h2, .talk h2, .work h2{
        font-size: 30px;
        color: rgb(12, 97, 72);
        margin-bottom: 30px;
        font-weight: 300;
        text-shadow: 1px 1px 3px rgba(12, 97, 71, 0.633);
    }
    .sec-1 p, .sec-2 p, .desc p, .talk p{
        color: #000;
        margin-bottom: 30px;
        text-align: justify;
        line-height: 20px;
    }
    .work{
        padding: 0px 30px 50px;
    }
    .cell{
        width: 100%;
        height: auto;
        margin: 0 15px;
    }
    .cell img{
        width: 100%;
        height: auto;
    }
    .clients{
        padding: 30px;
        width: 100%;
    }
    .p-1, .p-2{
        display: flex;
        width: 100%;
        margin-bottom: 25px;
        justify-content: space-evenly;
    }
    .p-1 img, .p-2 img{
        width: 20%;
        border: 1px solid gray;
        padding: 1%;
        border-radius: 5px;
    }
    
    .talk{
        padding: 30px;
        width: 100%;
    }
    
    .talk p{
        text-align: justify;
        padding: 20px;
        border: 1px solid gray;
    }
    
    .contact{
        width: 100%;
        padding: 30px;
    }

    .contact input{
        margin-bottom: 40px;
    }
    .contact input,textarea{
        border-top: none;
        border-right: none;
        border-Left: none;  
        width: 100%;
    }
    .contact button{
        font-size: 20px;
        background-color: rgb(12, 97, 72);
        color: #fff;
        border: none;
        padding: 10px 25px;
        border-radius: 20px;
    }
    .contact button:hover{
        color: rgb(12, 97, 72);
        background-color: #fff;
        border: 1px solid rgb(12, 97, 72);
        margin-top: 25px;
    }
}